In [2]:
import pandas as pd

In [7]:
sales_by_model = "static/data/sales_by_model.csv"
model_sales_df = pd.read_csv(sales_by_model)

In [8]:
model_sales_df

,Vehicle,Type,2011,2012,2013,2014,2015,2016,2017,2018,2019,Total
0,Chevy Volt,PHEV,7671,23461,23094,18805,15393,24739,20349,18306,4915,156733
1,Nissan Leaf,EV,9674,9819,22610,30200,17269,14006,11230,14715,12365,141888
2,Smart ED,EV,342,139,923,2594,1387,657,544,1219,680,8485
3,Mitsubishi I EV,EV,76,588,1029,196,115,94,6,0,0,2104
4,BMW Active E,EV,0,673,0,0,0,0,0,0,0,673
5,Prius PHEV,PHEV,0,12749,12088,13264,4191,2474,20936,27595,23630,116927
6,Ford Focus EV,EV,0,683,1738,1964,1582,901,1817,560,0,9245
7,Honda Fit EV,EV,0,93,569,407,2,0,0,0,0,1071
8,Tesla Model S,EV,0,2400,19400,16750,26200,30200,26500,25745,15090,162285
9,Toyota RAV4 EV,EV,0,192,1005,1184,18,0,0,0,0,2399
10,Ford C-Max Energi,PHEV,0,2374,7154,8433,7591,7957,8140,582,0,42231
11,Honda Accord,PHEV,0,0,526,449,64,0,0,0,0,1039
12,Ford Fusion Energi,PHEV,0,0,6089,11550,9750,15938,9632,8074,7476,68509
13,Chevy Spark,EV,0,0,560,1145,2629,3035,23,7,0,7399
14,Fiat 500E,EV,0,0,260,1503,3477,3737,3336,2250,632,15195
15,Porsche Panamera S E-Hybrid,PHEV,0,0,51,879,407,393,18,2036,1958,5742
16,Cadillac ELR,PHEV,0,0,6,1310,1024,534,17,1,0,2892
17,BMW i3,EV,0,0,0,6092,11024,7625,6276,6117,4854,41988
18,Mercedes B-Class (B250e),EV,0,0,0,774,1906,632,744,135,9,4200
19,BMW i8,PHEV,0,0,0,555,2265,1594,488,772,1102,6776
20,VW e-Golf,EV,0,0,0,357,4232,3937,3534,1354,4863,18277
21,Kia Soul EV,EV,0,0,0,359,1015,1728,2157,1134,114,6507
22,Porsche Cayenne S E-Hybrid,PHEV,0,0,0,112,1163,2111,1574,1022,1140,7122
23,Mercedes S550 Plug,PHEV,0,0,0,0,118,550,666,96,371,1801
24,Volvo-XC90 Plug In,PHEV,0,0,0,0,86,2015,2358,1387,1710,7556
25,Tesla Model X,EV,0,0,0,0,208,19600,21700,26100,19425,87033
26,BMW X5,PHEV,0,0,0,0,892,5995,5349,4434,167,16837
27,Hyundai Sonata Plug In,PHEV,0,0,0,0,15,3000,2254,460,456,6185
28,Audi A3 Plug In,PHEV,0,0,0,0,0,4280,2877,2597,437,10191
29,BMW 3-series Plug-In,PHEV,0,0,0,0,0,880,4141,2600,705,8326
30,Mercedes GLE 550e,PHEV,0,0,0,0,0,231,463,966,1509,3169
31,BMW 7-series Plug-in,PHEV,0,0,0,0,0,23,707,339,80,1149
32,Mercedes C350We,PHEV,0,0,0,0,0,171,817,1721,2172,4881
33,Chevy Bolt,EV,0,0,0,0,0,579,23297,18019,16313,58208
34,Kia Optima Plug-in,PHEV,0,0,0,0,0,0,1512,965,350,2827
35,Hyundai Ioniq EV,EV,0,0,0,0,0,0,432,345,739,1516
36,Chrysler Pacifica Plug-in Hybrid,PHEV,0,0,0,0,0,0,2981,7062,5811,15854
37,Cadillac CT6,PHEV,0,0,0,0,0,0,205,231,25,461
38,BMW 5-Series Plug in,PHEV,0,0,0,0,0,0,3759,8664,5442,17865
39,MINI Countryman S E,PHEV,0,0,0,0,0,0,475,1564,494,2533
40,Porsche Panamera 4 E-H,PHEV,0,0,0,0,0,0,0,0,0,0
41,Tesla Model 3,EV,0,0,0,0,0,0,1770,139782,154840,296392
42,Honda Clarity BEV,EV,0,0,0,0,0,0,1126,948,742,2816
43,Volvo XC60 Plug In,PHEV,0,0,0,0,0,0,356,2267,1682,4305
44,Volvo S90 Plug In,PHEV,0,0,0,0,0,0,112,437,407,956
45,Honda Clarity Plug-in,PHEV,0,0,0,0,0,0,903,18602,10728,30233
46,Mitsubishi Outlander Plug In,PHEV,0,0,0,0,0,0,0,4166,2810,6976
47,Hyundai Ioniq Plug-In,PHEV,0,0,0,0,0,0,0,1590,1765,3355
48,Kia Niro Plug In,PHEV,0,0,0,0,0,0,0,3389,4051,7440
49,Mercedes GLC 350e Hybrid,PHEV,0,0,0,0,0,0,0,567,2459,3026
50,Jaguar I-Pace,EV,0,0,0,0,0,0,0,393,2594,2987
51,Hyundai Kona Electric,EV,0,0,0,0,0,0,0,0,1721,1721
52,Subaru Crosstrek Hybrid,PHEV,0,0,0,0,0,0,0,0,880,880
53,Audi e-tron,EV,0,0,0,0,0,0,0,0,5369,5369
54,Kia Niro EV,EV,0,0,0,0,0,0,0,0,1562,1562
55,Total,NaN,17763,53171,97102,118882,114023,159616,195581,361315,326644,1444097

In [3]:
yearly_ev_sales = "static/data/ev_sales_yearly.csv"
yearly_ev_df = pd.read_csv(yearly_ev_sales)
yearly_ev_df

,Unnamed: 0,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Hybrid electric,9400,20300,36000,47600,84200,205900,251900,351100,315800,...,274600,266500,434600,495500,452200,384400,346900,362900,343200,400700
1,Plug-in hybrid-electric,0,0,0,0,0,0,0,0,0,...,300,7700,38600,49000,55400,43000,72900,91100,122800,83800
2,Electric,0,0,0,0,0,0,0,0,0,...,0,10100,14600,48100,63500,71100,86700,104400,238800,242000

In [4]:
yearly_ev_df2 = yearly_ev_df.rename(columns = {"Unnamed: 0": "Type"})

In [5]:
yearly_ev_df_cleaned = yearly_ev_df2.drop(["2000", "2001", "2002", "2003", "2004", "2005",\
                                           "2006", "2007", "2008", "2009", "2010"], axis = 1)
yearly_ev_df_cleaned

,Type,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Hybrid electric,266500,434600,495500,452200,384400,346900,362900,343200,400700
1,Plug-in hybrid-electric,7700,38600,49000,55400,43000,72900,91100,122800,83800
2,Electric,10100,14600,48100,63500,71100,86700,104400,238800,242000

In [9]:
tesla_sales_df = model_sales_df[model_sales_df.Vehicle.str.contains('tesla',case=False)]
tesla_sales_df

,Vehicle,Type,2011,2012,2013,2014,2015,2016,2017,2018,2019,Total
8,Tesla Model S,EV,0,2400,19400,16750,26200,30200,26500,25745,15090,162285
25,Tesla Model X,EV,0,0,0,0,208,19600,21700,26100,19425,87033
41,Tesla Model 3,EV,0,0,0,0,0,0,1770,139782,154840,296392

In [10]:
tesla_market_share_data = {"Brand": "Tesla",\
                           "2011": tesla_sales_df["2011"].sum()/yearly_ev_df_cleaned["2011"].sum(),\
                          "2012": tesla_sales_df["2012"].sum()/yearly_ev_df_cleaned["2012"].sum(),\
                          "2013": tesla_sales_df["2013"].sum()/yearly_ev_df_cleaned["2013"].sum(),\
                          "2014": tesla_sales_df["2014"].sum()/yearly_ev_df_cleaned["2014"].sum(),\
                          "2015": tesla_sales_df["2015"].sum()/yearly_ev_df_cleaned["2015"].sum(),\
                          "2016": tesla_sales_df["2016"].sum()/yearly_ev_df_cleaned["2016"].sum(),\
                          "2017": tesla_sales_df["2017"].sum()/yearly_ev_df_cleaned["2017"].sum(),\
                          "2018": tesla_sales_df["2018"].sum()/yearly_ev_df_cleaned["2018"].sum(),\
                          "2019": tesla_sales_df["2019"].sum()/yearly_ev_df_cleaned["2019"].sum()}
tesla_market_share_df = pd.DataFrame(tesla_market_share_data, index=[0])
tesla_market_share_df

,Brand,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Tesla,0.0,0.00492,0.032737,0.029329,0.052975,0.098322,0.089488,0.271888,0.26064